<!-- 홈화면 -->

  <!-- ======= Hero Section ======= -->
  <section id="main-section">
    <!-- <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      </div>
    </div> -->
	<!-- <div class="slider-area">
		<div class="item">
            <img src="/tattoo/assets/img/background1.jpg" class="img-fluid" alt=""></img>
		</div>
	</div> -->
      
      <div class="container">
          
          <div id="main-header" style="margin-bottom: 60px;">
              <h2>
                  대한민국 최고의 타투 플랫폼 타투이스트
              </h2>
              <h3>
                  나에게 맞는 타투이스트 찾기
              </h3>
          </div>
          
          <!--<div class="row">
              <div id="main-background">
                  <p> 
                      <i class="bx bx-chevron-right"></i>
                      <%= @standard %>
                      총 등록업체
                      <span class="count" data-toggle="counter-up" id="count_com">072</span>
                      오늘 방문자 수
                      <span class="count" data-toggle="counter-up" id="count_com"><%= @today.impressions_count %></span>
                      누적 방문자 수 
                      <span class="count" data-toggle="counter-up" id="count_com"><%= @visitor.impressions_count %></span>
                  </p>
              </div>
              
          </div> -->
          
          
          <div class="row" style="padding-left: 15px; margin-top: 20px;">
              <div class="row" id="main-background">
                  <div>
                      <p> 
                          <i class="bx bx-chevron-right"></i>
                          <%= @standard %>
                      </p>
                  </div>
                  <div style="padding-left: 15px;">
                      <p>
                          총 등록업체
                          <span class="count" data-toggle="counter-up" id="count_com">072</span>
                      </p>
                  </div>
                  <div style="padding-left: 15px;">
                      <p>
                          오늘 방문자 수
                          <span class="count" data-toggle="counter-up" id="count_com"><%= @today.impressions_count %></span>
                          누적 방문자 수 
                          <span class="count" data-toggle="counter-up" id="count_com"><%= @visitor.impressions_count %></span>
                      </p>
                  </div>
              </div>
              
          </div>
          
      </div>
  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="padding:0; margin-top: -15px;">
      <div class="container">
        <div class="row" style="border: solid 1px #ddd;">      
             
            <div class="col-lg-4" id="main-banner">
                <div id="banner-head" class="row" style="margin: 0; padding: 10px 0px;">
                    <div class="col-8">
                        <h2>
                            PREMIUM BANNER
                        </h2>
                    </div>
                    
                    <div class="col-4">
                        <div style="text-align:right; padding-top: 7px;">
                          <span class="dot" onclick="currentSlide(1)"></span> 
                          <span class="dot" onclick="currentSlide(2)"></span> 
                          <span class="dot" onclick="currentSlide(3)"></span> 
                          <span class="dot" onclick="currentSlide(4)"></span> 
                          <!-- <span class="dot" onclick="currentSlide(5)"></span> 
                          <span class="dot" onclick="currentSlide(6)"></span>  -->
                        </div>
                    </div>
                </div>
                <div id="banner-body">
                    <div class="slideshow-container">

                        <div class="mySlides">
                            <a href="/partner2">
                                <img class="d-block w-100" src="/tattoo/assets/img/banner/banner1.jpg" alt="First slide" style="width:100%">
                            </a>
                        </div>

                        <div class="mySlides">
                            <a href="/partner2">
                                <img class="d-block w-100" src="/tattoo/assets/img/banner/banner2.jpg" alt="Second slide" style="width:100%">
                            </a>

                        </div>

                        <div class="mySlides">
                            <a href="/partner2">
                                <img class="d-block w-100" src="/tattoo/assets/img/banner/banner3.jpg" alt="Third slide" style="width:100%">
                            </a>
                        </div>

                        <div class="mySlides">
                            <a href="/partner2">
                                <img class="d-block w-100" src="/tattoo/assets/img/banner/banner4.jpg" alt="Second slide" style="width:100%">
                            </a>
                        </div>

                    </div>
                
                    
                
                    <script>
                        // var slideIndex = 1;
                        // showSlides(slideIndex);

                        // function plusSlides(n) {
                        //   showSlides(slideIndex += n);
                        // }

                        // function currentSlide(n) {
                        //   showSlides(slideIndex = n);
                        // }

                        // function showSlides(n) {
                        //   var i;
                        //   var slides = document.getElementsByClassName("mySlides");
                        //   var dots = document.getElementsByClassName("dot");
                        //   if (n > slides.length) {slideIndex = 1}    
                        //   if (n < 1) {slideIndex = slides.length}
                        //   for (i = 0; i < slides.length; i++) {
                        //       slides[i].style.display = "none";  
                        //   }
                        //   for (i = 0; i < dots.length; i++) {
                        //       dots[i].className = dots[i].className.replace(" active", "");
                        //   }
                        //   slides[slideIndex-1].style.display = "block";  
                        //   dots[slideIndex-1].className += " active";
                        // }
                        
                        
                        var slideIndex = 0;
                        showSlides();

                        function showSlides() {
                          var i;
                          var slides = document.getElementsByClassName("mySlides");
                          var dots = document.getElementsByClassName("dot");
                          for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";  
                          }
                          slideIndex++;
                          if (slideIndex > slides.length) {slideIndex = 1}    
                          for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                          }
                          slides[slideIndex-1].style.display = "block";  
                          dots[slideIndex-1].className += " active";
                          setTimeout(showSlides, 2000); // Change image every 2 seconds
                        }
                        
                        
                    </script>
                </div>
            </div>
            
            <!-- <div class="col-lg-4" id="main-banner" style="margin-bottom:10px; padding-top: 15px;">
                
                <div>
                    <h2 style="color: #fff; background: url('/tattoo/assets/img/banner/Premium_banner.png') 0px 0px no-repeat;
                       padding: 5px 15px; padding-left:25px; font-size: 20px; font-weight: bold;">
                        Premium Banner
                    </h2>
                </div>
                
                <div class="slideshow-container" style="margin-top: 20px;">

                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image1.png" alt="First slide" style="width:100%">
                    </div>

                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image2.png" alt="Second slide" style="width:100%">
                    </div>

                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image1.png" alt="Third slide" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image2.png" alt="Second slide" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image1.png" alt="Third slide" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                      <img class="d-block w-100" src="/tattoo/assets/img/banner/banner-image2.png" alt="Second slide" style="width:100%">
                    </div>

                </div>
                
                <div style="margin-top: 20px;">
                    <div style="text-align:left">
                      <span class="dot" onclick="currentSlide(1)"></span> 
                      <span class="dot" onclick="currentSlide(2)"></span> 
                      <span class="dot" onclick="currentSlide(3)"></span> 
                      <span class="dot" onclick="currentSlide(4)"></span> 
                      <span class="dot" onclick="currentSlide(5)"></span> 
                      <span class="dot" onclick="currentSlide(6)"></span> 
                    </div>
                </div>
                
                <script>
                    var slideIndex = 1;
                    showSlides(slideIndex);

                    function plusSlides(n) {
                      showSlides(slideIndex += n);
                    }

                    function currentSlide(n) {
                      showSlides(slideIndex = n);
                    }

                    function showSlides(n) {
                      var i;
                      var slides = document.getElementsByClassName("mySlides");
                      var dots = document.getElementsByClassName("dot");
                      if (n > slides.length) {slideIndex = 1}    
                      if (n < 1) {slideIndex = slides.length}
                      for (i = 0; i < slides.length; i++) {
                          slides[i].style.display = "none";  
                      }
                      for (i = 0; i < dots.length; i++) {
                          dots[i].className = dots[i].className.replace(" active", "");
                      }
                      slides[slideIndex-1].style.display = "block";  
                      dots[slideIndex-1].className += " active";
                    }
                </script>
               
            </div> -->
          
          
            
            <div id="tab" class="col-lg-4" style="background-color:white;">
				<ul class="nav nav-tabs nav-fill"id="tab-category">
				  <li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#area">지역별 업체</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#type">장르별 업체</a>
				  </li>
                  <li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#part">부위별 업체</a>
				  </li>
				</ul>
				<div class="tab-content" id="tab-items">
					<div class="tab-pane fade show active" id="area">
					  	<ul class="tab-list" id="portfolio-flters">
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">전체</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">서울</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">경기</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">인천</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">대전</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">대구</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">부산</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">광주</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">울산</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">세종</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">강원</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">충남</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">충북</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">경남</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">경북</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">전남</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">전북</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/area">제주</a></li>
						</ul>
				  	</div>
			  
					<div class="tab-pane fade" id="type">
                        <ul class="tab-list" id="portfolio-flters">
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">전체</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">올드스쿨</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">뉴스쿨</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">블랙&그레이</a></li>
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">치카노</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">라인워크</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">블랙워크</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">이레즈미</a></li>     
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">트라이벌</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">리얼리즘</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">미니타투</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">수채화</a></li>
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">레터링</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">커버업</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/category">기타</a></li>
						</ul>						
				  	</div>
                    
                    <div class="tab-pane fade" id="part">
                        <ul class="tab-list" id="portfolio-flters">
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">전체</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">귀</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">목</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">쇄골</a></li>
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">가슴</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">등</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">옆구리</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">윗팔</a></li>     
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">아랫팔</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">손</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">손목</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">허벅지</a></li>
                            <li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">종아리</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">발</a></li>
							<li><img src="/tattoo/assets/img/dot.png" style="padding-bottom: 5px;"><a href="/part">기타</a></li>                            
						</ul>						
				  	</div>
				</div>
				
			  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
				
			</div>
			
			
                
            <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-4" data-ride="carousel" style="margin-bottom:0px; border-left: solid 1px #ddd; background-color:white;">
              <div class="row" style="padding-top: 12px; padding-bottom:12px;">
                  <div class="col-5" style="text-align: left;">
                      <a href="#" style="color: #444444; font-size: 13px; font-weight: bold;">작업물 갤러리</a>
                      
                  </div>
                  <div class="col-2">

                  </div>
                  <div class="col-5" style="text-align: right;">
                      <!-- <p style="font-size: 11px;"><a href="/gallery">더보기</a></p> -->
                      <i class="icofont-plus" style="color:#ea5903; font-size: 9px;"></i> <a href="/gallery" style="font-size:11px; color: #444444; ">더보기</a>
                  </div>
              </div>
                
              <div class="carousel-inner" style="padding-top: 10px;">                  
                  
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-2.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-2.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-3.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-3.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-4.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-4.png"></a>  
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-5.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-5.png"></a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-6.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-6.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-7.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-7.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-8.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-8.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-9.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-9.png"></a>
                        </div>
                    </div>
                    
                </div>
                  
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-2.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-2.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-3.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-3.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-4.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-4.png"></a>  
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-5.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-5.png"></a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-6.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-6.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-7.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-7.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-8.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-8.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-9.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-9.png"></a>
                        </div>
                    </div>
                </div>
                        
                <div class="carousel-item">
                  <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-10.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-10.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-11.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-11.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-12.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-12.png"></a>  
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-13.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-13.png"></a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-14.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-14.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-15.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-15.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-16.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-16.png"></a>
                        </div>
                        <div class="col-3" style="padding: 10px; padding-top:0;">
                            <a href="/tattoo/assets/img/gallery/img2/img2-17.png"><img class="d-block w-100 rounded" src="/tattoo/assets/img/gallery/img2/img2-17.png"></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>     
       
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
              
            <div class="section-title row" style="padding-top:30px;">
              <!-- <span>Portfolio</span> -->
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4 col-8">
                    <h2>우대 등록 업체</h2>    
                </div>
                <div class="col-md-4 col-4 text-right">
                    <p><a href="/advertisement" style="border: solid 1px #ddd; color: #444444; padding: 5px 10px;">광고안내</a></p>
                </div>
            </div>

            <div class="row portfolio-container">
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner2'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img2.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>sungdae_tattoo</h4>
                            <p>건대 블랙워크 작업</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area2">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner1'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img1.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>타투이스트 기수</h4>
                            <p>경기 광명에서 작업</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner3'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img3.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Tattooist_BEAR</h4>
                            <p>타투이스트베어</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner4'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img4.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>쥬스타투</h4>
                            <p>강북구 쥬스타투입니다.</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area2">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner5'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img5.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>GUSH TATTOO</h4>
                            <p>안산 중앙역 1번 타투이스트</p>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner6'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img6.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>소금타투</h4>
                            <p>1인1도안/일본유학파</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area5">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner7'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img7.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>FSEAN_TATTOOS</h4>
                            <p>대구 동성로 치카노타투</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img8.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>SSAB_TT</h4>
                            <p>블랙&그레이 타투이스트</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area3">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img9.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>inklings_uzi</h4>
                            <p>구월동 라인워크 블랙워크</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area3">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img10.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Kiwan.tattoo</h4>
                            <p>구월동 라인워크 블랙워크</p>
                        </div>
                    </div>
                </div>
                
            </div>
              
            <div class="section-title row">
              <!-- <span>Portfolio</span> -->
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4 col-8">
                    <h2>일반 등록 업체</h2>    
                </div>
                <div class="col-md-4 col-4 text-right">
                    <p><a href="/advertisement" style="border: solid 1px #ddd; color: #444444; padding: 5px 10px;">광고안내</a></p>
                </div>
            </div>

            <div class="row portfolio-container">
                
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img11.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Jellybean Tattoo</h4>
                            <p>감성타투 젤리빈</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img12.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>문신사 우노</h4>
                            <p>타투이스트 우노</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area6">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img13.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>셀리 타투</h4>
                            <p>감성 전문 Sally tattooer</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area7">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img14.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>latigre_tattoo</h4>
                            <p>광주 타투이스트 '호랑'입니다.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img15.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Traditional TTT</h4>
                            <p>올드스쿨 타투 전문</p>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner2'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img2.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>sungdae_tattoo</h4>
                            <p>건대 블랙워크 작업</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area2">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner1'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img1.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>타투이스트 기수</h4>
                            <p>경기 광명에서 작업</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner3'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img3.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Tattooist_BEAR</h4>
                            <p>타투이스트베어</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner4'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img4.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>쥬스타투</h4>
                            <p>강북구 쥬스타투입니다.</p>
                        </div>
                    </div>
                </div>
                  
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area2">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner5'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img5.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>GUSH TATTOO</h4>
                            <p>안산 중앙역 1번 타투이스트</p>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner6'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img6.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>소금타투</h4>
                            <p>1인1도안/일본유학파</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area5">
                    <div class="portfolio-wrap" OnClick="location.href ='/partner7'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img7.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>FSEAN_TATTOOS</h4>
                            <p>대구 동성로 치카노타투</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img8.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>SSAB_TT</h4>
                            <p>블랙&그레이 타투이스트</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area3">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img9.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>inklings_uzi</h4>
                            <p>구월동 라인워크 블랙워크</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area3">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img10.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Kiwan.tattoo</h4>
                            <p>구월동 라인워크 블랙워크</p>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area14">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img16.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>stuff tattoo</h4>
                            <p>크레용과 드로잉</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area6">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img17.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>오박사타투</h4>
                            <p>오_올드스쿨타투</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area4">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img18.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Team Needler</h4>
                            <p>트레디셔널 블랙워크 전문</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img19.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>최리_choilee</h4>
                            <p>choilee_txtt 블랙워크</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area1">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img20.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Tattooist VAC</h4>
                            <p>www.vacpresents.com</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area9">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img21.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>mint tattoo</h4>
                            <p>세종 민트타투</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area13">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img22.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>타투이스트 천</h4>
                            <p>유일무이 오리엔탈 작업</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2dot4 col-md-4 col-6 portfolio-item filter-area6">
                    <div class="portfolio-wrap" OnClick="location.href ='/#'" style="cursor:pointer;">
                        <img src="/tattoo/assets/img/portfolio/img23.png" class="img-fluid" alt="">
                        
                        <div class="portfolio-new">
                            <h4>Dstone</h4>
                            <p>부산 서면 이레즈미</p>
                        </div>
                    </div>
                </div>
                
            </div>

          </div>
    </section>
    <!-- End Portfolio Section -->

    

  </main><!-- End #main -->

    